svg:not([data-debug]) .ka-panel {
    opacity: 0;
    transition: opacity 1s;
}

svg:not([data-debug]) .ka-current-panel {
    opacity: revert;
}

.ka-svg-document {
    background: #ddd6c4ff;
}

.ka-svg-document image {
    filter: drop-shadow(5px 3px 10px rgba(0, 0, 0, 0.4));
}
