@font-face {
    font-family: "Quicksand";
    src:
        local("Quicksand"),
        url("./Quicksand-VariableFont_wght.ttf");
    font-weight: 100 800;
}

/* TODO: Why doesn't the variable font suffice for bold? */
@font-face {
    font-family: "Quicksand";
    src:
        local("Quicksand, Semibold"),
        url("./Quicksand-SemiBold.ttf");
    font-weight: bold;
}

/* A hack for flash of unstyled content. See also the style element in the .svg file. */
.ka-svg-document {
    opacity: revert !important;
}

svg:not([data-debug]) .ka-panel {
    opacity: 0;
    transition: opacity 1s;
}

svg:not([data-debug]) .ka-current-panel {
    opacity: revert;
}

svg:not([data-debug]).ka-done .ka-panel {
    opacity: revert;
}
