@font-face {
    font-family: "Liberation Sans";
    src: url("./liberation-sans/LiberationSans-Regular.ttf");
    font-weight: regular;
    font-style: normal;
}

@font-face {
    font-family: "Liberation Sans";
    src: url("./liberation-sans/LiberationSans-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Liberation Sans";
    src: url("./liberation-sans/LiberationSans-Italic.ttf");
    font-weight: regular;
    font-style: italic;
}
@font-face {
    font-family: "Liberation Sans";
    src: url("./liberation-sans/LiberationSans-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}
