/* recursive-regular - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Recursive';
  font-style: normal;
  font-weight: 400;
  src: url('./recursive-v37-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: url('./recursive-v37-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./recursive-v37-latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./recursive-v37-latin_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
       url('./recursive-v37-latin_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./recursive-v37-latin_latin-ext-regular.svg#Recursive') format('svg'); /* Legacy iOS */
}
